* {
    margin: 0;
    box-sizing: border-box;
}
.card {
    display: inline-block;
    margin: 15px;
    /* height: 240px; */
    width: 440px;
    padding: 45px;
    border: 1px solid #2b76b9;
    border-radius: 10px;
    font-family: Geneva, Tahoma, sans-serif;
    color: wheat;
    overflow: hidden;
    position: relative;
    text-align: left;
}

.card-title {
    display: inline-block;
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 15px;
}

.card-data{
    font-size: 40px;
    font-weight: 800;
}

.card-description{
    display: inline-block;
    font-size: 24px;
    margin-top: 24px;
}

.card-icon {
    position:absolute;
    right: 60px;
    display: inline-block;
    width: 30px;
    height: 30px;
}

/* .card-pink{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.card-blue{ 
    background-image: linear-gradient(60deg,#8694ad 0%, #2cacd1 37%, #2b76b9 65%, #3d3393  100%);
}
.card-turquise {
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
} */

.card:nth-child(3n){
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.card:nth-child(3n+1){ 
    background-image: linear-gradient(60deg,#8694ad 0%, #2cacd1 37%, #2b76b9 65%, #3d3393  100%);
}

.card:nth-child(3n+2) {
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
}

.card-title::after,
.card-description::after {
    content: '';
    position: absolute;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-color: wheat;
    opacity: 0.2;
    transition: all 0.7s ease;
}

.card:hover .card-title:after,
.card:hover .card-description:after {
    width: 300px;
    height: 300px;
    background-color: rgb(70, 70, 73);
}

.card-title::after{
    right: -100px;
    top: -40px
}
.card-description::after {
    top: 140px;
    right: -40px;
}
